/* Add a black background color to the top navigation */
.topnav {
  background-color: #77B2F1;
  overflow: hidden;
 display:flex;
 flex-direction: row;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  font-size: 17px;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: red;
  border-radius: 50%;
  padding: 10px 10px;
 float:left;
 align-self: center;
  display: inline-block;
}



[class="option"] {
  float: left;
  width: 33.33%;
 text-align: center;
}